{% extends "couponlist/base.html" %}
{% block content %}
<h1>About me</h1>
<p>Thanks for visiting my Coupons! Check all this cool stuff about me!</p>
<p>Please Feel free to comment on the coupon<p>
<p><a href="https://mod5project-35643.firebaseapp.com/">Please also click to checkout my recent project: Point Of sales Web App</a></p>
<p>I am a web developer with experiences in ruby on rails, JavaScript and react. Because I used to be a sales analyst for more than 4 years. Recently, I built a point of sales Web application using React as frontend  ( Redux to manage state), and ruby on rails as backend. The app is to manage inventory through sales transaction, orders, and adjustments. It allows users to assign task, and chat with other users, cashier checkout and dashboard reporting. The goal of this app help users to make good business decision.</p>
<p>To Access my Point of Sales Web App via admin account: </p>
<p>username: admin</p>
<p>password: admin</p>

<p>To Access my Point of Sales Web App via cashier account: </p>
<p>username: Steven</p>
<p>password: 123</p>
{% endblock %}
