{% extends 'couponlist/base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2>Please Login: </h2>
    <h4>Must be a part of the coupon Team in order to post coupons</h4>
    <h4>Please contact admin to issue accounts</h4>
    {% if form.errors %}
        <p class="red">Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>

  <div class="gradient-border box">
  <pre><strong>Please try our Sample Account:</strong></pre>
    <pre>    <strong>Username:</strong> coupon</pre>
    <pre>    <strong>Password:</strong> post12345</pre>
  </div>
{% endblock %}
